

.all-contents {
    display: flex;
    margin: 60px 4%;
}
.left-content {
    width: 60%;
}
.right-content {
    width: 440px;
    margin-left: 50px;
}

table {
    width: 100%;
    height: 220px;
    margin-left: 0;
    border-collapse: collapse;
    border: 1px solid #000;
    margin-bottom: 50px;
}

th {
    font-size: 14px;
}

td {
    font-size: 18px;
}

.buy-btn {
    width: 100%;
    text-align: center;
}

.button {
    width: 100%;
    margin: 0;
    padding: 10px;
    display: block;
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    background-color: #ff5555;
    text-align: center;
    cursor: pointer;
    border: none;
}

.item {
    display: flex;
    padding-bottom: 60px;
    border-bottom: 1px solid #000;
}
.image-card {
    width: 178px;
    height: 178px;
    background-color: #d9d9d9;
    position: relative;
    
}
.img {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.item-info {
    margin-left: 60px;
}
.item-name {
    display: block;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
}
.item-price {
    font-family: Inter;
    font-size: 27px;
    font-weight: 400;
}

.label-title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 20px;
}
option  {
     background-color: #5f5f5f; 
     border: 1.5px solid #5f5f5f;
     color: #eaeaea;
}
select {
    margin-left: 80px;
    width:265px ;
    height: 31px;
    background-color:#eaeaea;
    color:#5f5f5f ;
    border: 1px solid #5f5f5f;
}
.hidden-button {
    display: none;
}
.form_error {
    color: red;
    text-align: left;
    margin-top: 10px;
}
.pay-method,
.shipping-info {
    padding: 20px 0 60px 0;
    border-bottom: 1px solid #000;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.link {
    display: inline-block;
    margin-right: 20px;
    color: #0073cc;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}        
.address {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-left: 80px;
}

 
tr {
     border-bottom: 1px solid #000; 
    height: 120px;
}

th {
    padding: 30px 30px;
    text-align: center;
}
td {
    padding: 40px 30px;
}
th {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    align-items: center;
}
td {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .right-content {
            width: 440px;
            margin-left: 50px;
           }
    
        table {
            width: 100%;
            height: 220px;
            margin-left: 0;
        }
    
        .buy-btn {
            width: 100%;
            text-align: center;
        }
    
        .button {
            width: 100%;
            margin: 0;
            padding: 10px;
           display: block;
        }
}
    
@media screen and (min-width: 768px) and (max-width: 850px) 
{   
    .image-card {
        width: 143px;
        height: 143px;
    }

    .item-info {
        margin-left: 35px;
    }
    .right-content {
            width: 440px;
            margin-left: 50px;
        }
    
        table {
            width: 100%;
            height: 220px;
            margin-left: 0;
        }
        tr {
            height: 0;
        }
        th {
            font-size: 14px;
        }
        td {
            font-size: 18px;
        }
        .buy-btn {
            width: 100%;
            text-align: center;
        }
    
        .button {
            width: 100%;
            margin: 0;
            padding: 10px;
            display: block;
        }
    
        .item-name {
            font-size: 18px;
        }
        .item-price {
            font-size: 18px;
        }
   
   
        .select {
            margin-left: 0;
        }
        .address {
            margin-left: 0;
        }
}