

.all-contents {
    display: flex;
    margin: 60px 4%;
}
.left-content {
    width: 60%;

}


.item {
    display: flex;
    padding-bottom: 60px;
    border-bottom: 1px solid #000;
}
.image-card {
    width: 178px;
    height: 178px;
    background-color: #d9d9d9;
    position: relative;
    
}
.img {
    font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        position: absolute;
            top: 40%;
            
            left: 50%;
            
            transform: translate(-50%, -50%);
            
            text-align: center;
           
        
}
.item-info {
    margin-left: 60px;
}
.item-name {
    display: block;
    
    font-family: Inter;
        font-size: 30px;
        font-weight: 700;
        
}
.item-price {
    font-family: Inter;
        font-size: 27px;
        font-weight: 400;
}

.label-title {
    font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        display: block;
        margin-bottom: 20px;
        
        
}
option  {
     background-color: #5f5f5f; 
     border: 1.5px solid #5f5f5f;
     color: #eaeaea
}
.select {
    margin-left: 80px;
    width:265px ;
    height: 31px;
    background-color:#eaeaea;
    color:#5f5f5f ;
    border: 1px solid #5f5f5f;
}
.pay-method,
.shipping-info {
    padding: 20px 0 60px 0;
    border-bottom: 1px solid #000;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.link {
    display: inline-block;
    margin-right: 20px;
    color: #0073cc;
    font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
}        
.address {
    font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        margin-left: 80px;
        
}
.right-content {
    width: 40%;
}

table {
    display: block;
    margin-left: 90px;
    border-collapse: collapse;
     width: 80%; 
     
     border: 1px solid #000    
}
.table__inner {
     width: 100%; 
}
tr {
     border-bottom: 1px solid #000; 
    
    height: 120px;
}
tr:nth-child(2) {
    border-bottom: none;
}
th {
    padding: 30px 30px;
    text-align: center;
}
td {
    padding: 40px 30px;
}
th {
    font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 24.2px;
        
       
        align-items: center;
       
}
td {
    font-family: Inter;
        font-size: 22px;
        font-weight: 400;
        
}
.buy-btn {
    text-align: center;
    display: block;
    margin-top: 60px;
    margin-left: 90px;
}
 .button {
    width: 350px;
    height: 60px;
   
    font-family: Inter;
        font-size: 26px;
        font-weight: 700;
       color: #fff;
       background-color: #ff5555;
        text-align: center;
        cursor: pointer;
        border: none;
 }
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    table  {
        width: 382px;
    }
    th {
        padding: 30px 33px;
    }
    td {
        padding: 40px 41px;
    }
    .buy-btn {
            margin-left: 50px;
    }
    .button {
            width: 385px;
    }

}



@media screen and (min-width: 768px) and (max-width: 850px) 
{
    
    .item-name {
        font-size: 28px;
    }
    .item-price {
        font-size: 25px;
    }
    .right-content {
    
    padding-right: 4%;
}
    table {
        width: 300px;
        margin-left: 10px;
    }
    
    th {
        font-size: 14px;
        padding: 40px 24px;
    }
    td {
        font-size: 20px;
        padding: 40px 30px;
    }
    .buy-btn {
        margin-left: 10px;
    }
     .button { 
         width: 300px; 
     } 
    .select {
        margin-left: 0;
    }
    .address {
        margin-left: 0;
    }
}