

.container {
    max-width: 1540px;
    margin: 0 auto;
}


.header {
    background-color: #000;
    height: 85px;
}
.header__inner { 
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1540px;
    
}
.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header__logo {
   display: block;
    width: 370px;
}
img {
    width: 100%;
}
.search-form {
    display: flex;
    align-items: center;
    /* margin: 10px 0; */
}
.search-form__input {
    width: 30vw;
    /* padding: 10px 20px; */
    padding: 23px;
    /* margin-left: 2%; */
    margin-left: 8%;
    height: 25px ;
    border-radius: 5px;
    /* margin-bottom: 5px; */
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #fff;
}

input::placeholder {
    color: #000 ;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}
.hidden-button {
    /* display: none; */
    visibility: hidden;
    position: absolute;
}

.header-nav {
    display: flex;
    justify-content: center;
    width: 35vw;
    margin-left: 2%;
    align-items: center;
}
li {
    list-style: none;
}


.btn {
    color: #fff;
    background-color: #000;
    border: none;
    font-family: Inter;
    font-weight: 400;
    width: 135px;
    cursor: pointer;
}
.logout-btn {
    margin-bottom: 3px;
}
.header-nav-link {
    color: #fff;
    text-decoration: none;
    display: block;
    align-items: center;
    font-family: Inter;
    font-weight: 400;
    text-align: center;
    margin-left: 15px;
}
.sell-btn {
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    /* width: 100px; */
    width: 80px;
    /* padding-top: 5px; */
    display: inline-block;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 1400px) and (max-width: 1540px)
 {
    .header__inner{
        padding: 5px 15px;
    }
    .header__logo {
        margin-top: 13px;
    }
    .search-form {
         margin: 10px 0;
    }
    .header-nav-link {
        font-size: 24px;
        margin-right: 20px;
    }
    .btn {
        font-size: 24px;
        width: 135px;
        padding-top: 5px;
        margin-right: 20px;
    }

    .sell-btn {
        border-radius: 4px;
        width: 90px;
        /* margin-bottom: 10px; */
        /* padding-top: 5px; */
    }
}


@media screen and (min-width: 768px) and (max-width: 850px) 
{
    .header__inner {
        padding: 14px 15px;
    }
    .header__logo {
        margin: 13px 0 10px 0;
    
    }
  .search-form__input {
         /* width: 200px;  */
        width: 264px;
        display: block;
        padding: 20px;
    }         
    input::placeholder {
         font-size: 20px;
    }

    .header-nav-link {
        font-size: 13px;
        margin-right: 10px;
        margin-left: 0;
    }
    .btn {
        font-size: 13px;
        width: 80px;
    }
    .logout-btn {
        /* margin-right: 20px; */
        margin-right: 10px;

    }
    .sell-btn {
        width: 60px;
        margin-right: 20px; 
        /* padding-top: 5px; */
    }
}