/* @charset"UTF-8"; */
.container {
    max-width: 1540px;
    margin: 0 auto;
}
/* あとで外すかも */
/*body {

     margin: 0 auto; 
 } 
/* あとでつけるかも */

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #000;
    height: 80px;
    align-items: center;
}

/*.header__inner {
    /* display: flex; */
    /* justify-content: space-between; 
    align-items: center;
    padding: 10px 10px 0 20px;
   
    grid-column: 1;
}
*/
.header__logo {
    display: inline-block;
    grid-column: 1;
    margin-left: 50px;
    
}
.search-form__input {
    width: 500px;
    padding-top: 18px;
    height: 25px;
    border-radius: 5px;
    display: block;
    padding-left: 30px;
     margin-bottom: 5px; 
     grid-column: 2;

}

input::placeholder {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;

}
nav {
    grid-column: 3;
}
ul {
    display: flex;

}

li {
    list-style: none;


}

.btn {
    color: #fff;
    background-color: #000;
    border: none;
    font-family: Inter;
    font-weight: 400;
    margin-right: 20px;
    font-size: 24px;
        width: 135px;
        /* padding-top: 5px; */
    
    cursor: pointer;
    grid-column: 3;

}

.sell-btn {
    color: #000;
    background-color: #fff;
    /* padding-top: 8px; */
    font-family: Inter;
    font-weight: 400;
    border-radius: 4px;
    width: 90px;
     /* margin-bottom: 10px;  */
        /* padding-top: 5px; */

}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    body { 
            
            margin: 0 auto;
        }
 

    
    
    /*.header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px 0 10px;
    }
*/


    /* .search-form__input { */
        /* width: 500px; */
        /* padding-top: 15px; */
        /* height: 25px; */
        /* border-radius: 5px; */
        /* display: block; */
        /* padding-left: 30px; */
        /* margin-bottom: 5px; */

    /* } */

    /* input::placeholder { */
        /* color: #000; */
        /* font-family: Inter; */
        /* font-size: 24px; */
        /* font-weight: 400; */

    /* } */


    nav {
        width: 200px;
    }

    li {
        width: 200px;
        margin-left: 0;
    }
        
        
    .btn {
        /*color: #fff;
        background-color: #000;
        border: none;
        */
        font-size: 24px;
        width: 135px;
        padding-top: 5px;
        margin-right: 20px;
        /*font-family: Inter;
           
            font-weight: 400;
            margin-left: 5px;
            cursor: pointer;
            */

    }

    .sell-btn {
        /*color: #000;
        background-color: #fff;
        
        
        border-radius: 4px;
        */
        width: 90px;
        margin-bottom: 10px;
        padding-top: 5px;

    }

}

/* タブレット（768px以上850px以下）のスタイル */
@media screen and (min-width: 768px) and (max-width: 850px) 
{
    .header {
            
    
        }
    /*.header__inner {
        /* color: #000; */

        /* display: grid; */
        /* grid-template-columns: 1fr 1fr 1fr; */
        /* margin: 0 ; */
        /* padding: 10px ; */

    

     .header__logo { 
         /* display: block;  */
         width: 200px; 
         height: 30px; 
         margin-left: 30px;
        /* margin-bottom: 5px; */
         /* grid-column: 1;  */
    }

     img { 
         width: 100%; 
    } 

    .search-form__input {
         width: 250px; 
         display: block; 
          /* grid-column: 2;   */
         margin-left: 30px; 

        padding: 10px 20px;  
    }

    


    .btn {
        font-size: 13px;
        width: 80px;
        /* padding: 0; */
          margin-right: 0;   
        margin-left: 0;
        ;
        }

    

    .sell-btn {
        width: 60px;
         margin-right: 20px; 
    }
}