.all-contents {
    display: flex;
    margin: 80px 60px;
}

.left-content {
    width: 50%;
    padding-top: 40px;
}
.image-card {
    
    width: 100%;
    height: 27%;
    background-color: #d9d9d9;
    position: relative;
    border: none;
    

}
.item-img {
    width: 100%;
}
.img {
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.right-content {
    width: 50%;
    margin-left: 60px;
}
.page-title {
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    display: block; 
    text-align: left;
    color: #000;
}
.brand-name {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    text-align: left;
}
.item-price {
    font-family: Inter;
    font-size: 45px;
    font-weight: 400;
    margin-top: 0;
    text-align: left;
}
span {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
}
.flex {
    display: flex;
    margin-left: 30px;
}
.likes-icon {
    border: none;
    background-color: #fff;
    padding-right: 30px;
    cursor: pointer;
}
.likes-img-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
}
.likes-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    mask-image: url('/images/星アイコン8.png');
    mask-size: cover;
    -webkit-mask-size: cover;
    opacity: 0;
    transition: opacity 0.3s;
}

.likes-overlay.liked {
    opacity: 1;
}
.count {
    margin-left: 20px;
    margin-top: 0;
} 
.button {
    width: 570px;
    height: 56px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: #ff5555;
    border: none;
    margin-bottom: 20px;
}
.section-title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}
.comment-title {
    color: #5f5f5f;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}
.description {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

dl {
    display: flex;
}
dt {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

dd {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 101.99px;
    height: 30px;
    background-color: #d9d9d9;    
    border-radius: 15px ;
    border: none;
    text-align: center;
} 
.condition {
    background-color: #fff;
    width: 220px;   
    text-align: center;
    margin-left: 40px;
} 
.flex {
    display: flex;
    margin-left: 0 ; 
    align-items: center;
}
.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #d9d9d9;
    border: none;
    margin-left: 0; 
    margin-top: 20px;
}
.user-name {
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
    align-items: center;
    display: inline-block;
    padding-top: 20px;
}
.comment-input {
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    width: 570px;
    height: 20px;
    background-color: #d9d9d9;   
    border-radius: 5px;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.label {
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    display: block;
    text-align: left;
    margin-top: 30px;
}
.textarea {
    width: 570px;
    height: 246px;
    border:2px solid  #5f5f5f;
    border-radius: 5px;
    font-size: 20px;
}
.form_error {
    color: red;
    font-size: 18px;
}
@media screen and (min-width: 1400px) and (max-width: 1540px) {
   
    .category {
        width: 123px;
        margin-right: 10px;
    }
    .condition {
        width: 220px;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .all-contents {
        margin: 80px 20px;
    }
    .image-card {
        margin-left: 0;
    }
    .right-content {
        margin-left: 20px;
    }
    .page-title,
    .item-price {
        font-size: 35px;
    }
    .brand-name {
        margin-bottom: 0;
    }
    .item-price {
        margin-bottom: 20px;
    }

    span {
        font-size: 28px;
    }   
    .likes-img ,
    .comments-img{
        width: 30px;
        height: 30px;
    }

    .likes-img-wrapper {
        position: relative;
        width: 37px;
        height: 30px;
    } 
    .likes-icon {
        padding: 0;
        margin-right: 10px;
    }
    .likes-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: yellow;
        mask-position: center;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-size: 80%;
        -webkit-mask-size: 80%;
    }
    .count {
        margin-left: 7px;
    }

    .button {
        width: 330px;
        height: 40px;
        font-size: 25px;
    }
    dt {
        font-size: 18px;
    }
    .description {
        font-size:20px;
    }
    .category {
        font-size: 13px;
        width: 85px;
        padding-top: 5px;
        height: 20px;
    }
    .condition {
        width: 200px;
    }
    .section-title,
    .comment-title {
        font-size: 30px;
    }

    .comment-input,
    .textarea {
        width: 330px;
        font-size: 18px;
    }
}

