.content {
    margin: 0 auto;
}

.image-file {
    margin: 60px  0; 
}


.profile_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #d9d9d9;
    border: none;
    margin-left: 180px;
     margin-right: 80px; 
}

.update-btn {
    display: inline-block;
    margin-left: 300px;
    width: 300px; 
    height: 50px;
    padding-top: 3px; 
    border-radius: 10px;
    text-decoration: none;
    background-color: #fff;
    color: #ff5555;
    border: 2px solid #ff5555;
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

.top-title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    white-space: nowrap;
}

.top-content {
    margin-top: 60px;
    border-bottom: 2px solid #5f5f5f;
}
ul {
    display: flex;
}
.top-content li {
    list-style: none;
}

.top-content li a {
    text-decoration: none;
    margin-left: 50px;
}

.sell-items ,
.buy-items {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    color: #5f5f5f;
}

.sell-items {
    color: #ff0000;
}

.under-content {
    margin: 80px 0;
}
.image-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
    margin: 0 40px;
}
.image-card {
position: relative;
}
.image {
    width: 290px;
    border-radius: 4px;
    height: 280px;
    text-decoration: none;
    background-color: #d9d9d9;
}

p {
    font-family: Inter;
    font-size: 35px;
    font-weight: 400;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-card-name {
    display: block;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
}
@media screen and (min-width: 1400px) and (max-width: 1540px) {
   
    .image-card-group {
        margin: 0 5%;
    }
    .update-btn {
        height: 40px;
        padding-top: 8px;
    }
}
@media screen and (min-width: 768px) and (max-width: 850px) {
    .image-file {
        display: flex;
        align-items: center;
        justify-content: center;
    }
     .text-image { 
        margin-left:100px;
        margin-right: 0;
    }
        
    .top-title {
        font-size: 24px;
        display: inline-block;
        margin-right: 100px;
        margin-left: 10px;
    }
    .update-btn {
         margin-left: 0; 
         margin-right:120px; 
        font-size: 19px;
        width: 250px;
        padding: 3px 5px;
        height: 28px;
    }
    .top-content li a {
        margin-left: 20px;
    }
    .top-content li:nth-child(2) a {
        margin-left: 30px;
    }
    .sell-items ,
    .buy-items {
        font-size: 20px;
    }
    
    .under-content {
        margin: 80px 4%;
    }
    .image-card-group {
        justify-content: space-between;
    }

}