.content {
    margin: 0 auto;
}

.image-file {
    margin: 60px  0; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #d9d9d9;
    border: none;
    margin-left: 23px;
    margin-right: 80px; 
}

.update-btn {
    display: inline-block;
    margin-left: 300px;
    width: 300px; 
    height: 50px;
    padding-top: 5px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #fff;
    color: #ff5555;
    border: 2px solid #ff5555;
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}
.star {
    width: 40px;
    height: 40px;
}
.stars {
    position: absolute;
    /* text-align: center; 
    /* margin: 0 auto; */
    top: 45%;
    left: 40%;
    
}
    
.count {
    font-size: 24px;
    font-weight: 700;
    margin-left: 5px;
    color: white;
    /* padding:  5px; */
    width: 35px;
    height: 35px;
    background-color: #ff0000;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
}
.top-title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    white-space: nowrap;
    display: block;
}

.top-content {
    margin-top: 60px;
    border-bottom: 2px solid #5f5f5f;
    position: relative;
}

ul {
    display: flex;
    align-items: center;
}
.top-content li {
    list-style: none;
}

.top-content li a {
    text-decoration: none;
    margin-left: 90px;
    margin-bottom: 30px;
    display: block;
}

.sell-items ,
.buy-items ,
.transactions{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    color: #5f5f5f;
}
.active-tab {
    color: #ff0000;
    }

.sell-items:hover,
.buy-items:hover {
    opacity: 0.8;
}
.under-content {
    margin: 80px 0;
}
.image-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
    margin: 0 40px;
}
.image-card {
position: relative;
}
.image {
    width: 290px;
    border-radius: 4px;
    height: 280px;
    text-decoration: none;
    background-color: #d9d9d9;
}

p {
    font-family: Inter;
    font-size: 35px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.badge {
    position: absolute;
    font-size: 24px;
        font-weight: 700;
        margin-left: 5px;
        color: white;
        /* padding:  5px; */
        width: 35px;
        height: 35px;
        background-color: #ff0000;
        border-radius: 50px;
        display: inline-block;
        text-align: center;
        /* right: 80%; */
        left: 0;
}
.image-card-name {
    display: block;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
}
@media screen and (min-width: 1400px) and (max-width: 1540px) {
   
    .image-card-group {
        margin: 0 5%;
    }
    .top-content li a {
        margin-left: 105px;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 850px) {
    
    .profile_img {
        margin-left: 95px;
       }
     .text-image { 
        margin-left:100px;
        margin-right: 0;
    }
        
    .top-title {
        font-size: 24px;
        display: inline-block;
        margin-right: 100px;
        margin-left: 10px;
    }
    .update-btn {
        margin-left: 0; 
        margin-right:120px; 
        font-size: 19px;
        width: 250px;
        padding: 3px 5px;
        height: 36px;
    }
    .top-content li a {
        margin-left: 20px;
    }
    .top-content li:nth-child(2) a {
        margin-left: 30px;
    }
    .stars {
        margin: 0 auto;
        left: 50%;
        /* right: 0; */
    }
    .sell-items ,
    .buy-items,
    .transactions {
        font-size: 20px;
    }
    
    .under-content {
        margin: 80px 4%;
    }
    .image-card-group {
        justify-content: space-between;
    }

}