.content {
    width: 680px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
}
#previewArea {
    width: 680px;
    height: 150px;
    border-radius: 4px;
    border: 1px dotted #5f5f5f;
    position: relative;
    margin-bottom: 70px;
}

.image-btn {
    transform: translate(250px, 40px);
    display: block;
    width: 165px;
    padding-top: 5px ;
    border-radius: 10px;
    background-color: #fff;
    color: #ff5655;
    border: 2px solid #ff5555;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.label {
    display: block;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
}
.section-title {
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    color: #5f5f5f;
    text-align: left;
    border-bottom: 1px solid #5f5f5f;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 680px;
    margin: 30px auto; 
}
.category-checkbox {
    display: none;
}

.category-button {
    display: inline-block;
    min-width: 52px;
    text-align: center;
    margin-bottom: 30px;
    padding: 7px 15px 0;
    height: 32px;
    border: 2px solid #ff5655;
    background-color: #fff;
    color: #ff5655;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}
.category-checkbox:checked+label {
    background-color: #ff5655;
    color: #fff;
}

.select {
    width: 680px;
    height: 45px;
    color: #5f5f5f;
    border: 1px solid #5f5f5f;
    margin-bottom: 50px;
}

.checkmark-select {
    background-image: url('/images/Vector 1 (Stroke).svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
}

.select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.checkmark {
    font-size: 18px;
    color: #ff5655;
    margin-right: 10px;
    display: none;
}
.select-wrapper select:valid+.checkmark {
    display: block;
}

option {
    background-color: #5f5f5f;
    border: 1.5px solid #5f5f5f;
    color: #eaeaea;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
}

.input{
    border-radius: 4px;
    border:1px solid  #5f5f5f;
    text-align: left;
    appearance: none;
    width: 670px;
    height: 45px;
    font-family: Inter;
    font-size: px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 50px;
}

.textarea {
    width: 670px;
    height: 125px;
    border-radius: 4px;
    border: 1px solid #5f5f5f;
    margin-bottom: 50px;
    background-color: #fff;
    margin-bottom: 50px;
    padding: 8px;
    color: #000;
}
.button {
    margin-top: 130px;
}
.sell-button {
    width: 680px;
    height: 60px;
    background-color: #ff5555;   
    border-radius: 5px ;
    color: #fff;
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-bottom: 150px;
}
.form_error {
    color: red;
}